//Importo le variabili per l'utilizzo all'interno di QUESTO file
@use './partials/_variables.scss' as *;

//Importo bootstrap per l'utilizzo nell'app
@import "bootstrap/scss/bootstrap";

:root {
    --sidebar-width: 120px;
}

.bg-dark-blue {
    background-color: $themeColorBlueSidebar;
}

.text-light-blue {
    color: $themeColorBlueTextLight;
}

.overflow-hidden {
    overflow: hidden !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out;
}

body {
    font-family: 'roboto';
    background-color: $themeColorBlueSidebar;
    color: $themeColorBlueTextDark;
}

a {
    text-decoration: none;
}

#main-content {
    position: relative;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    height: 100vh;
    padding: 1rem;
    // margin: 1rem;
    overflow-y: auto;
}

.wave {
    height: 100px;
    width: 200%;
    background: $themeColorBlueSidebar !important;
    position: relative;
    transition: position 0.5s ease-in-out;
    transition: transform 5s linear;
}

.wave #wave-first {
    transition: transform 5s linear;
    animation: moveFirst 20s ease-in-out infinite;
}

.wave #wave-middle {
    transform: translateX(600px);
    animation: moveMiddle 15s ease-in-out infinite;
}

.wave #wave-last {
    animation: moveFirst 18s ease-in-out infinite;
}

@keyframes moveFirst {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(600px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveMiddle {
    0% {
        transform: translateX(600px);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(600px);
    }
}

.wave.blue * {
    fill: $themeColorBlueSectionContainer;
}

.wave-container {
    width: 100%;
    overflow: hidden;

}

#content,
#content-container {
    border-radius: 16px;
    height: calc(100vh - 2rem);
    overflow: auto;
}

#page-content {
    position: relative;
    z-index: 10 !important;

}

#content.blue {
    background-color: $themeColorBlueSectionContainer;
}

#page-title {
    font-size: 4rem;
    position: relative;
    // height: 400px;
    // width: 100%;
}


.btn {
    transition: all 0.3s ease-in-out;
    border-radius: 32px;

}

.btn:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 1);
    transform: scale(1.1);

}

.btn-primary {
    background-color: #83d5cd !important;
    color: #004350;
    border: #83d5cd !important;
}

.btn-primary:hover {
    background-color: #004350 !important;
    color: #83d5cd;
    border: #004350 !important;
}

.btn-warning {
    background-color: #004350 !important;
    color: #83d5cd;
    border: #004350 !important;
}

.btn-warning:hover {
    background-color: #83d5cd !important;
    color: #004350;
    border: #83d5cd !important;
}

.sidebar {
    position: fixed;
    width: var(--sidebar-width);
    height: 100vh;
    padding: 1rem 0 1rem 1rem;
}

.sidebar.blue {
    background-color: $themeColorBlueSidebar;
}

#logo-text {
    font-size: 1.5rem;
    text-decoration: none;
    color: $themeColorBlueTextLight;
    font-weight: 900;
    text-decoration-line: none;
}

.sidebar .img-container {
    border-radius: 32px;
    padding: 0.5rem 1rem;
    transition: none;
}

.img-container.blue.active {
    background-color: $themeColorBlueSelectedContainer;
}

a:hover .img-container.blue {
    background-color: $themeColorHoveredContainer;
}

.text-link.blue {
    color: $themeColorBlueTextLight;
}